@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
	margin-top: 20px;
	margin-left: 30px;
	font-family: 'Playfair Display', serif;
	font-size: 18px;
}

body {
	background: url(long_background.jpg) no-repeat center center fixed;
	 background-size: cover;
}

input {
	width:60px;
}

.extras {
	padding-left: 75px !important;
}

.extraagain {
	padding-left: 105px !important;
}

input .short {
	width: 25px;
}

a i {
	margin: auto;
	padding: 10px 10px 20px 10px;
}

strong {
 font-size: 20px;
 border: 3px solid black
}

a {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

a .hovertext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

a:hover .hovertext {
  visibility: visible;
}